{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Introduction</h1>
        </header>
        
        <div class="w3-container">
          <p>One of the major reason of death in the globe is 
liver tumor. It takes time an is crucial to 
diagnose liver cancers in their early stages. In 
order to get an accurate and effective diagnosis, 
it is important to have a mechanized approach 
for the detection of liver cancers.As the tumor 
cells flaccid by the blood are highly reachable to 
the liver. Liver cancer in its early stages starts 
growing in the liver but ultimately begin
expanding to the whole body parts. This is the 
basic origin of liver tumors, So it is very 
important to determine the liver tumor.

	</p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>About The Project</h1>
            </header>
            
            <div class="w3-container">
              <p>
                we are using U-net which is a deep learning technique for segmentation of liver. we are using the CT Scan images which we will upload and we will get the result whether the tumor is detected or not. 
              </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>

    <div class="w3-container w3-center">
        <h2>Architecture Diagram</h2>
        <img src="static/images/block.png" alt="car" style="width:100%">
        <p>Figure1</p>
      </div>

{% endblock %}