{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Abstract</h1>
        </header>
        
        <div class="w3-container">
          <p>
            Early detection of liver tumor is very 
important in order to save the thousands of lives. For 
that we should find out the technique which will provide 
high accuracy in order to earlier recognition of liver 
tumor. There were more than 9,00, 000 new cases of 
liver cancer in 2020. Earlier recognition of liver tumor 
will grow life expectations. We studied different 
techniques of liver tumor detection, we compared all the 
methods and the accuracies achieved by them. Also we 
compared the accuracies achieved by using different 
datasets. We have made comparative study of the 
methods like modified u-net, ResU-Net, SegNet, 
Hybridized Fully Convolutional Neural 
Network(HFCNN), deep neural network(DNN), etc.
        </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Introduction</h1>
            </header>
            
            <div class="w3-container">
              <p>
                One of the major reason of death in the globe is 
liver tumor. It takes time an is crucial to 
diagnose liver cancers in their early stages. In 
order to get an accurate and effective diagnosis, 
it is important to have a mechanized approach 
for the detection of liver cancers.As the tumor 
cells flaccid by the blood are highly reachable to 
the liver. Liver cancer in its early stages starts 
growing in the liver but ultimately begin
expanding to the whole body parts. This is the 
basic origin of liver tumors, So it is very 
important to determine the liver tumor.
            </p>

            </div>
            <footer class="w3-container w3-blue">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue">
                      <h1>Literature Survey</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
                        We studied different research papers regarding liver tumor detection. We found many deep learning techniques for detection of tumor. We studied the accuracies generating on different datasets.we observed that ResU-net shows high accuracy as compared to other models. ResU-Net shows 99.8% accuracy using 3D-IRCADb01 dataset.
                      </p>
            </div>
                    
                    <footer class="w3-container w3-blue">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Conclusion</h1>
            </header>
            
            <div class="w3-container">
              <p>
                In this project we are using deep learning technique for tumor detection. After uploading image to the system it will give result whether the image shows the tumor or not.
            </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}